prefect
prefect-aws
pandas
pytest
python-dateutil
python-dotenv
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
dbt-bigquery
dbt-core
dbt-duckdb
dbt-extractor
dbt-postgres
dbt-semantic-interfaces
dbt-snowflake
boto3
botocore
numpy
matplotlib
seaborn
dagster
dagster-graphql
dagster-pipes
dagster-webserver
psycopg2
psycopg2-binary
SQLAlchemy
sqlparse
scikit-image
scikit-learn
scipy
seaborn
setuptools
pre-commit
